


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoAyure</title>
    <script src="https://kit.fontawesome.com/e80b3bf1af.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
    @*<link href="~/css/jquery-ui.css" rel="stylesheet" />*@
</head>
<body>
    <header>
        <div class="sidebar closed">
            <div class="container">
                <div class="logo-details">
                    <i class="fas fa-recycle"></i>
                    <span class="logo-name">Ayure</span>
                </div>
                <ul class="nav-links">
                    <li>
                        <a class="" asp-area="" asp-controller="Home" asp-action="Index">
                            <i class="fas fa-home" style=" width:25px;"></i>
                            <span class="link-name" style="margin-left:-25px;">Inicio</span>
                        </a>
                    </li>
                    <li>
                        <div class="icon-link">
                            <a href="#">
                                <i class="fas fa-cog" style="width:25px;"></i>
                                <span class="link-name" style="margin-left:-25px;">Administracion</span>
                            </a>
                            <i class="fas fa-chevron-down"></i>
                        </div>
                        <ul class="sub-menu">
                            @if(ViewBag.Perfil == "Socio Ambientalista" || ViewBag.Perfil == "Administrador"){
                                <li>
                                    <a class="link-name" href="#">Socio-Ambientalista</a>
                                </li>
                            }
                                <li>
                                    <a class="link-name" href="#">Recolector</a>
                                </li>
                                <li>
                                <a class="link-name" href="#">Centro de Recoleccion</a>
                            </li>
                            @if(ViewBag.Perfil == "Administrador"){
                                <li>
                                <a class="link-name" href="@Url.Action("Usuarios","Admin")">Usuarios</a>
                            </li>
                            <li>
                                <a class="link-name" href="@Url.Action("Perfiles","Admin")">Perfiles</a>
                            </li>
                            }
                        </ul>
                    </li>
                    <li>
                        <a class="" asp-area="" asp-controller="Login" asp-action="Salir">
                            <i class="fa-solid fa-right-from-bracket" style=" width:25px;"></i>
                            <span class="link-name" style="margin-left:-25px;">Cerrar Sesion</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - ProyectoAyure - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/js/jquery-3.6.0.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
